<!--//BLOC COOKIES -->
<!--Code getting on this page: http://politicadecookies.com-->
<!--This code is a warning about cookies -->
<div id="acception_button" style="display: block;">
    <div class="inner">
        <!--Solicitamos su permiso para obtener datos estadísticos de su navegación en esta web, en cumplimiento del Real Decreto-ley 13/2012. Si continúa navegando consideramos que acepta el uso de cookies.-->
        Ask your permission to obtain statistics data of navegation web. If you continue in this page, we consider that you accept the use of cookies.
        <a href="javascript:void(0);" class="ok" onclick="Push_Cookies();">Accept</a> | 
        <a href="http://politicadecookies.com" target="_blank" class="info">More information</a>
    </div>

    <style type="text/css">
        #acception_button {
            display:none;
            position:fixed;
            left:0px;
            right:0px;
            bottom:0px;
            padding-bottom:20px;
            width:100%;
            text-align:center;
            min-height:40px;
            background-color: rgba(0, 0, 0, 0.5);
            color:#fff;
            z-index:99999;
        }

        .inner {
            width:100%;
            position:absolute;
            padding-left:5px;
            font-family:verdana;
            font-size:12px;
            top:30%;
            border:none;
        }

        .inner a.ok {
            padding:4px;
            color:#E80B0B;
            text-decoration:none;
        }

        .inner a.info {
            padding-left:5px;
            text-decoration:none;
            color:#EA7500;
        }
    </style>

    <script>
        function getCookie(c_name){
            var c_value = document.cookie;
            var c_start = c_value.indexOf(" " + c_name + "=");
            if (c_start == -1){
                c_start = c_value.indexOf(c_name + "=");
            }
            if (c_start == -1){
                c_value = null;
            }else{
                c_start = c_value.indexOf("=", c_start) + 1;
                var c_end = c_value.indexOf(";", c_start);
                if (c_end == -1){
                    c_end = c_value.length;
                }
                c_value = unescape(c_value.substring(c_start,c_end));
            }
            return c_value;
        }

        function setCookie(c_name,value,exdays){
            var exdate=new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
            document.cookie=c_name + "=" + c_value;
        }

        if(getCookie('shop_warning')!="1"){
            document.getElementById("acception_button").style.display="block";
        }
        function Push_Cookies(){
            setCookie('shop_warning','1',365);
            document.getElementById("acception_button").style.display="none";
        }
    </script>
    <!--//END BLOC COOKIES -->
</div>