/*About the warning table list and others. */

table {
	margin: 0px auto;
	/*width: 650px;*/
}

table, 
td, 
th {
    border: 1px solid #a90023;

}

th {
    background-color: #a90023;
    color: white;
    /*padding: 0px 5px;*/
    text-align: center;
}

td {
	padding: 3px;
}

.save_button {
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 320px;
    margin-top: 5px;
    padding: 5px 5px 5px 5px;
}

#th_date {
    min-width: 100px;
}
#th_accepted {
    width: 105px;
}
.x, .v {
    margin: 5px;
}