html {
	background-color: #960018;
}

body {
	color: #404040;
	font: 13px/20px 'Lucida Grande', Tahoma, verdana, sans-serif;
}

#container {
	margin: 80px auto;
	width: 480px;
}

.login {
	background: white;
	border-radius: 3px;
	height: 200px;
	margin: 0 auto;
	padding: 20px 20px 20px;
	position: relative;
	width: 310px;
}

.login div {
	margin: 20px 0 0;
}

.login h1 {
	background: #f3f3f3;
	border-bottom: 1px solid #cfcfcf;
	border-radius: 3px 3px 0 0;
	color: #555;
	font-size: 15px;
	font-weight: bold;
	line-height: 40px;
	margin-bottom: 5px;
	margin:-20px -20px -21px;
	text-align: center;
	text-shadow: 0 1px white;
}

.login label {
	font-weight: bold;
}

.login input[type=text], 
.login input[type=password] {
	height: 20px;
	width: 278px;
}

.login input[type=text]:focus, 
.login input[type=password]:focus {
	border-color: #7dc9e2;
	outline-color: #dceefc;
}

input[type=submit] {
	background-color: #818181;
	border-radius: 10px;
	border: 1px solid;
	color: white;
	font-size: 12px;
	margin: auto;
	padding: 5px 18px;
}