html,
body {
    background-color: #960018;
    font: 90% 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

#container {
    background-color: #d9d9d9;
    border-radius: 10px;
    border: 5px solid white;
    margin: 1em auto;
    width: 960px;
}
#content {
    height: 80%;
    margin: 0 auto;
    width: 99%;
}

#centered {
    border:none;
    margin: 5px auto;
    padding: 1em;
    text-align: justify;
    width: 80%;
}

#centered, 
#content-middle {
    height: 90%;
    min-height: 450px;
}

.register {
    height: 100px;
    margin: auto;
    width: 95%;
}

#header {
    clear: both;
    height: 165px;
    overflow: none;
}

#header h1 {
    display: inline-block;
    float: left;
    font-size: 3em;
    left: 150px;
    position: relative;
    top: 15px;
}

#user_info {
    border:none;
    display: inline-block;
    float: right;
}

#user_info ul {
    list-style: none;
}

#logo {
    border: none;
    display: inline-block;
    float: left;
    height: 150px;
    margin: 10px 0px 0px 10px;
    width: 150px;
}

#logo img {
    width: 100%;
}

#ukflag_logo {
    background: no-repeat url("../img/uk-flag.jpg");
    cursor: pointer;
    float: right;
    height: 20px;
    margin: 15px;
    width: 32px;
    border: 1px solid;
}

.tooltip {
    background-color: #161616;
    border-radius: 5px;
    border: 1px solid #333;
    color: #fff;
    display: none;
    font: 12px;
    padding: 10px;
    position: absolute;
}

#div_logout, 
#menu-top, 
#content {
    border: 1px solid black;
}

#menu-top {
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;
    clear: both;
    display: inline-block;
    padding: 5px;
    position: relative;
    right: 250px;
    top: 69px;
    /*min-width: 275px;
    max-width: 290px;*/
}

#menu-top a, 
#div_logout a {
    color: black;
    padding: 5px 5px 0px 5px;
    text-decoration: none;
}

#div_logout {
    background-color: #ff8000;
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;
    bottom: 23px;
    clear: both;
    float: right;
    padding: 5px;
    position: relative;
    right: 55px;
}

#div_logout:hover {
    background-color: white;    
}

.menu-hightlight {
    font-size: 140%;
    font-weight: bold;
    margin: 13px;
}

footer {
    bottom: 0;
    margin: 5px auto;
    position: relative;
    text-align: center;
    width: 90%;
}