.ui-dialog-titlebar {
	display: none;
}

.student-card {
	height: 350px;
	width: 600px;
}

#sc-photo {
	border: 1px solid;
	display: inline-block;
	float: left;
	height: 100px;
	margin: 32px;
}

#sc-photo img {
	height: 100%;
}

#sc-personal-info {
	float: left;
	height: 100px;
	margin-bottom: 20px;
	margin: 0 auto;
	margin-top: 32px;
	width: 396px;
}

#sc-personal-info ul {
	list-style: none;
}

#sc-personal-info li {
	font-weight: bold;
}
#sc-personal-info label {
	font-weight: normal;
	}

#set-points {
	clear: both;
	height: 25px;
	margin: 0 auto;
	width: 100px;
}

#set-points input, 
#set-points button {
	text-align: center;
	width: 30px;
}

#sc-description {
	border: none;
	clear: both;
	margin: 32px;
}

#sc-description textarea {
	height: 100px;
	width: 100%;
}

#chars_written {
	float: right;
	font-size: 14px;
	margin-top: 5px;
}
