/*About the student table list and others. */

table {
	margin: 0px auto;
	width: 650px;
}

table, 
td, 
th {
    border: 1px solid #a90023;
}

th {
    background-color: #a90023;
    color: white;
    padding: 0px 5px;
}

td {
	padding: 3px;
}

.edit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25px;
}

.id_photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
}

.centered {
	text-align: center;
}

.sortable{
    cursor: pointer;
}